<ion-view view-title="Menu">
  <ion-content style="background-color: lightgrey">

    <div class="row">
      <div class="col rel" ng-click="diagnose()">
        <img src="img/diagnose2.jpg" height="130px" width="100%">
        <div class="overlay"><p style="color: white">Diagnose Me</p></div>
      </div>
    </div>
    <div class="row" style="margin-top:-15px">
      <div class="col rel" ng-click="doctoReply()">
        <img src="img/reply.jpg" height="125px" width="100%">
        <div class="overlay"><p style="color: white"> Doctor Reply</p></div>
      </div>
    </div>
    <div class="row" style="margin-top:-15px">
      <div class="col rel" ng-click="myRecord()">
        <img src="img/record.jpg" height="125px" width="100%">
        <div class="overlay"><p style="color: white">My Record</p></div>
      </div>
    </div>
    <div class="row" style="margin-top:-15px">
      <div class="col rel" ng-click="myProfile()">
        <img src="img/profile2.jpg" height="125px" width="100%">
        <div class="overlay"><p style="color: white">My Profile</p></div>
      </div>
    </div>
 <div class="padding">
    <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
 </div> 
  <!-- </ion-footer-bar> -->
  </ion-content>  
</ion-view>

