<ion-view view-title="Dignose Me">

  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
          <span class="input-label">New Password</span>
            <input type="text" placeholder="ENTER NEW PASSWORD HERE">
        </label>
      <label class="item item-input">
          <span class="input-label">Conf Password</span>
              <input type="password" placeholder="RE-ENTER NEW PASSWORD">
        </label>
      <button class="button button-balanced button-block" ng-click="change()">submit</button>
    </div>
     
  </ion-content>
</ion-view>
