<ion-view title="{{patientName}}">
  <!-- <ion-header-bar align-title="center" class="bar bar-header bar-balanced">
    <h1 class="title">{{patientName}}</h1>
  </ion-header-bar> -->
  <ion-content has-header="true" class="padding">
    <div class="padding text-center padding" style="margin-top: 20px">
      <button class="button button-positive" ng-click="record()">
        {{user.username}}'s Record
      </button>
    </div>
    <div style="margin-top: 20px" >
        <ion-item class="item" ng-repeat="(key,patient) in patients" ng-if="patient.approved == 0">
        <a href="#/Record/{{key}}">
        <label class="item item-input" >
            <span class="input-label">parameter1</span>
            <span class="item-note" >
            {{patient.parameter1}}
          </span>
        </label>
      </a>
        </ion-item>

    </div>
    <!-- move to record
    <div class="list card " style="margin-top: 30px">
      <ion-item class="item item-divider">
        System reply:
      </ion-item>
      <ion-item class="item item-text-wrap">
        Excellent.
      </ion-item>
    </div>
    <div class="button-bar ">
      <a class="button button-positive" >Approve</a>
      <a class="button button-balanced" ui-sref="edit">Not Approve</a>
    </div>
-->
</ion-view>
