<ion-view view-title="Doctor Reply">
  <ion-content>
    
    <ion-list>
     <ion-item class="item item-icon-right" ng-click="submiting()">
         <p>
          Doctor Reply<br>
          Date:November 05, 1955</p> 
         <i class="icon ion-ios-arrow-right"></i>
       </ion-item >
        <ion-item class="item item-icon-right" ng-click="submit()">
         <p>Doctor Reply<br>
          Date:November 05, 1955</p>
         <i class="icon ion-ios-arrow-right"></i>
       </ion-item>
       <ion-item class="item item-icon-right" ng-click="submit()">
         <p>
          Doctor Reply<br>
          Date:November 05, 1955</p> 
         <i class="icon ion-ios-arrow-right"></i>
       </ion-item>
      <ion-item class="item item-icon-right" ng-click="submit()">
         <p>
          Doctor Reply<br>
          Date:November 05, 1955</p> 
         <i class="icon ion-ios-arrow-right"></i>
       </ion-item>
       <ion-item class="item item-icon-right" ng-click="submit()">
         <p>
          Doctor Reply<br>
          Date:November 05, 1955</p> 
         <i class="icon ion-ios-arrow-right"></i>
       </ion-item>
     </ion-list>
   
  </ion-content>
</ion-view>
