<ion-view view-title="Doctor Reply">
  <ion-content class="padding">
     <!-- <div class="list card">

  <div class="item item-avatar">
    <img src="img/mike.png">
      <h2>Hi Marty</h2>
      <p>November 05, 1955</p>
    </div>
  <div class="item item-avatar">

      <h2>YOUR RESULT IS : FINE</h2>
    </div>
      <div class="item item-body">

        <p>
          MASSEGE FROM DOCTOR<br>
          ...........................................................................................................................<br>
          .....................................................................................................................<br>
          .............................................................................<br>
        </p>

      </div>
    </div> -->
    <img src="{{user.avatar}}" height="30%" width="50%">
      <h4>Hi {{user.username}}</h4>
      <p>{{patient.createdate | date:'MMMM dd, yyyy'}}</p>
      <h5>YOUR RESULT IS : {{patient.result}}</h5>
    <div class="card">
  <div class="item item-divider">
    MASSEGE FROM DOCTOR
  </div>
  <div class="item item-text-wrap">
    {{patient.message}}
  </div>
</div>
  </ion-content>
</ion-view>
