<ion-view view-title="Location">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <textarea ng-model="user.appartment" style="min-height:50px" placeholder="                                   Enter Appartment, Villa, Flat#." autofocus></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label"> Street</span>
        <textarea ng-model="user.street" placeholder="    Enter Street Here"></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text" ng-model="user.city" placeholder="    Enter city name">
      </label>
      <label class="item item-input">
        <span class="input-label">Country</span>
          <input type="text" placeholder="    Enter Country here" ng-model="user.country">
      </label><br/><br/><br/>
      <div class="padding">
        <button class="button button-positive button-block" ng-click="change()">Change Location</button>
      </div>
    </div>
  </ion-content>
</ion-view>
