<ion-view view-title="LogIn">
  <ion-content class="padding">
    <div class="button-bar ">
      <button ng-class="{'active':option==1}" class="button button-balanced button-outline icon icon-right ion-ios7-download-outline" ng-click="loginOption(1)">LOG IN</button>
      <button ng-class="{'active':option==2}" class="button button-balanced button-outline icon icon-right ion-ios7-upload-outline" ng-click="loginOption(2)">SIGN UP</button>
    </div>
    <div class="list" ng-show="login" style="margin-top: 10px">
      <label class="item item-input">
        <span class="input-label">E-mail</span>
          <input type="email" placeholder="Enter e-mail here" ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
          <input type="password" placeholder="password" ng-model="loginData.password">
      </label>
      <button class="button button-block button-balanced" type="submit" ng-click="signIn()">Log in</button>
    </div>
    <div class="list" ng-show="signUp">
      <div>
      <center>
        <img class="profile-round" ng-src="{{user.UserImage}}" height="90" ng-click="openCamera()">
      </center>
         </div>
      <label class="item item-input">
        <span class="input-label">User Name</span>
        <input type="text" ng-model="user.name" placeholder="Enter name here">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" placeholder="Enter Password here">
      </label>
      <label class="item item-input">
        <span class="input-label">Identity Card Number</span>
        <input type="number" ng-model="user.icard" placeholder="Enter Card Number">
      </label>
      <label class="item item-input">
        <span class="input-label">Date of Birth</span>
        <span style="margin-left: 25px;">
          <input type="date" class="pull-right" ng-model="user.dob" placeholder="Enter Date of Birth">
        </span>

      </label>
      <label class="item item-input item-select" >
        <div class="input-label">
        Gender
        </div>
        <select ng-model="user.gender">
          <option value=""> Male </option>
          <option value=""> Female </option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Home Phone</span>
        <input type="number" ng-model="user.phone" placeholder="Enter Phone Number">
      </label>
      <label class="item item-input">
        <span class="input-label">Home Mobile</span>
        <input type="number" ng-model="user.mobile" placeholder="Enter Mobile Number">
      </label>
      <label class="item item-input">
        <span class="input-label">Fax</span>
        <input type="number" ng-model="user.fax" placeholder="Enter Fax Number">
      </label>
      <label class="item item-input">
        <span class="input-label">E-mail</span>
          <input type="email" placeholder="Enter e-mail here" ng-model="user.email">
      </label>
      <button class="button button-balanced button-block" ng-click="register()">Register</button>
    </div>
  </ion-content>
</ion-view>
