<ion-view view-title="My Record">
  <ion-content class="pedding">

    <ion-list>
     <ion-item class="item item-avatar">
   		<img src="img/perry.png">
    		<h2>Fine</h2>
    			<p>Diagnose date : November 05, 1955</p>
       	</ion-item >
       	<ion-item class="item item-avatar">
   		<img src="img/perry.png">
    		<h2>Good</h2>
    			<p>Diagnose date : Dec 05, 2015
    			</p>
       	</ion-item >
       	<ion-item class="item item-avatar">
   		<img src="img/perry.png">
    		<h2>Excellent</h2>
    			<p>Diagnose date :Sept 05, 1955</p>
       	</ion-item >
       	<ion-item class="item item-avatar">
   		<img src="img/perry.png">
    		<h2>Need Improvement</h2>
    			<p>Diagnose date :Oct 05, 1955</p>
       	</ion-item >
       	<ion-item class="item item-avatar">
   		<img src="img/perry.png">
    		<h2>Marty McFly</h2>
    			<p>Jan 05, 2001</p>
       	</ion-item >
     </ion-list>

  </ion-content>
</ion-view>
