<ion-view view-title="Diagnose Me">
    <ion-content class="padding">
        <div ng-show="!report" >
            <p class="padding">
                ENTER THE REQUIRED INFORMATION
            </p>
            <label class="item item-input" >
                <span class="input-label">DP1</span>
                <input ng-model="parameter1" type="text" placeholder="ENTER HERE">
            </label>
            <label class="item item-input">
                <span class="input-label">DP2</span>
                <input ng-model="parameter2" type="text" placeholder="ENTER HERE">
            </label>
            <label class="item item-input">
                <span class="input-label">DP3</span>
                <input ng-model="parameter3" type="text" placeholder="ENTER HERE">
            </label>
            <label class="item item-input">
                <span class="input-label">DP4</span>
                <input ng-model="parameter4" type="text" placeholder="ENTER HERE">
            </label>
            <label class="item item-input">
                <span class="input-label">Dp5</span>
                <input ng-model="parameter5" type="text" placeholder="ENTER HERE">
            </label>
            <button class="button button-balanced button-block"   ng-click="submit(parameter1,parameter2,parameter3,parameter4,parameter5)" >SUBMIT</button>
        </div>

    </ion-content>
</ion-view>