<ion-view view-title="My Profile">
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left item-icon-right" ng-click="changePassword()">
        <i class="icon ion-gear-a"></i>
        Change Password
        <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
      </ion-item>
      <!--<ion-item class="item item-icon-left item-icon-right" ng-click="cancelAccount()">
        <i class="icon ion-refresh"></i>
        Cancel Account
        <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
      </ion-item>-->
      <ion-item class="item item-icon-left item-icon-right" ng-click="contactInfo()">
        <i class="icon ion-android-contacts"></i>
        Contact Information
        <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
      </ion-item>
      <ion-item class="item item-icon-left item-icon-right" ng-click="location()">
        <i class="icon ion-ios-location"></i>
        Location
        <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
