<ion-view view-title="{{user.username}}'s Record">

  <ion-content>

       <ion-list >
         <ion-item class="item">
           <label class="item-input" >
             <span class="input-label">FromPatientData1</span>
                       <span class="item-note" >
                       {{patient.FromPatientData1}}
                       </span>
           </label>
         </ion-item>
         <ion-item class="item">
           <label class="item-input" >
             <span class="input-label">FromPatientData2</span>
                       <span class="item-note" >
                       {{patient.FromPatientData2}}
                       </span>
           </label>
         </ion-item>
         <ion-item class="item">
           <label class="item-input" >
             <span class="input-label">FromPatientData3</span>
                       <span class="item-note" >
                       {{patient.FromPatientData3}}
                       </span>
           </label>
         </ion-item>
         <ion-item class="item">
           <label class="item-input" >
             <span class="input-label">FromPatientData4</span>
                       <span class="item-note" >
                       {{patient.FromPatientData4}}
                       </span>
           </label>
         </ion-item>
         <ion-item class="item">
           <label class="item-input" >
             <span class="input-label">FromPatientData5</span>
                       <span class="item-note" >
                       {{patient.FromPatientData5}}
                       </span>
           </label>

         </ion-item>
         <!--
        <ion-item class="item">
          <label class="item-input" ng-controller="presultCtrl">
            <span class="input-label">FromDoctorData1</span>
                      <span class="item-note" >
                      {{patient.FromDoctorData1}}
                      </span>
          </label>
        </ion-item>
        <ion-item class="item">
          <label class="item-input" ng-controller="presultCtrl" >
            <span class="input-label">FromDoctorData2</span>
                      <span class="item-note" >
                      {{user.FromDoctorData2}}
                      </span>
          </label>
        </ion-item>
        <ion-item class="item">
          <label class="item-input"  ng-controller="presultCtrl">
            <span class="input-label">FromDoctorData3</span>
                      <span class="item-note" >
                      {{patient.FromDoctorData3}}
                      </span>
          </label>
        </ion-item>
        <ion-item class="item">
          <label class="item-input" ng-controller="presultCtrl">
            <span class="input-label">FromDoctorData4</span>
                      <span class="item-note" >
                      {{patient.FromDoctorData4}}
                      </span>
          </label>
        </ion-item>
        <ion-item class="item">
          <label class="item-input" ng-controller="presultCtrl">
            <span class="input-label">FromDoctorData5</span>
                      <span class="item-note" >
                      {{patient.FromDoctorData5}}
                      </span>
          </label>
        </ion-item>
-->

      </ion-list>
    </div>
    <div class="list card " style="margin-top: 30px">
      <ion-item class="item item-divider">
        System reply:
      </ion-item>
      <ion-item class="item item-text-wrap">
        {{patient.result}}
      </ion-item>
    </div>
    <div class="button-bar ">
      <a class="button button-positive" href="#edit/{{patientid}}">Approve</a>
      <a class="button button-balanced" href="#edit/{{patientid}}">Not Approve</a>
    </div>
  </ion-content>
</ion-view>
