<ion-view view-title="{{patientName}}'s Record">
  <ion-content class="padding">
    <div style="margin-top: 20px" >
      <ion-list >
          <div style="margin-top: 20px" >
              <ion-item class="item"  ng-repeat="patient in pparameter" >
                  <label class="item item-input" >
                      <span class="input-label">parameter1</span>
            <span class="item-note" >
            {{patient.parameter1}}
          </span>
                  </label>
                  <label class="item item-input">
                      <span class="input-label">parameter2</span>
            <span class="item-note" >
            {{patient.parameter2}}
          </span>
                  </label>
                  <label class="item item-input">
                      <span class="input-label">parameter3</span>
            <span class="item-note" >
            {{patient.parameter3}}
          </span>
                  </label>
                  <label class="item item-input">
                      <span class="input-label">parameter4</span>
            <span class="item-note" >
            {{patient.parameter4}}
          </span>
                  </label>
                  <label class="item item-input">
                      <span class="input-label">parameter5</span>
            <span class="item-note" >
                {{patient.parameter5}}
          </span>
                  </label>
              </ion-item>

          </div>
      </ion-list>
    </div>

  </ion-content>
</ion-view>